@model Product

@{
    ViewBag.Title = "Info o produkcie";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Nazwa produktu: @Model.Name<br />
        Kategoria: @Model.Category<br />
        Opis: @Model.Description<br />
        Cena: @Model.Price<br />
    </div>
</body>
</html>